
.blur-load {
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    
}

.blur-load::before {
    content: "";
    position: absolute;
    
    inset: 0;
    opacity: 0;
    animation: pulse 1.5s infinite;
    background-color: var(--appBoxColor);
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

.blur-load.loaded::before {
    animation: none;
    content: none;
}

.blur-load > img {
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.blur-load.loaded > img {
    opacity: 1;
}

.blur-load.loaded {
    filter: none;
}
