/* General options */

@font-face {
    font-family: Product Sans;
    src: url(/fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Product Sans Bold;
    src: url(/fonts/Product\ Sans\ Bold.ttf);
}

:root {
    --mainThemeColor: #1d94e2;
    --mainThemeColorSecond: #41b8db;
    --mainThemeColorText: #136195;
    --mainThemeColorHover: #b5b5b5;

    --lightWhite: #f4f4f4;
    
    --order: 1;
}

html { scroll-behavior: smooth;}


.fadeIn {
    opacity: 1;
}



@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColorMainTheme: #07283e;
        --backgroundColor: #030404;
        --backgroundSubColor: #121314;
        --backgroundTertiaryColor: #232626;
        --appBoxColor: #1a1c1e;
        --primaryText: #f2f2f2;
        --primaryTextThemed: #d5e3ff;
        --secondaryText: #b5b5b5;
        --tertiaryText: #515151;
        --primaryContainer: #004787;
        --primaryContainerText: #d5e3ff;
        --primaryContainerHover: #00315f;

        --secondaryContainer: #3d4758;
        --secondaryContainerText: #d9e3f8;
        --secondaryContainerHover: #273141;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: #e4ecff;
        --backgroundSubColor: #e4ecff;
        --backgroundTertiaryColor: #dbdbdb;
        --appBoxColor: #d5e3ff;
        --primaryText: #1d2a2a;
        --primaryTextThemed: #002248;
        --secondaryText: #5c5e5e;
        --primaryContainer: #205fa6;
        --primaryContainerText: #ffffff;
        --primaryContainerHover: #205fa6;

        --secondaryContainer: #555f71;
        --secondaryContainerText: #ffffff;
        --secondaryContainerHover: #d9e3f8;
    }
}



.mainContent {
    animation: fadeIn 0.5s 1 ease-in;
    margin-top: clamp(4vh, 14vh/2, 9vh); /* margin for navbar */
}

.footer {
    animation: fadeIn 0.5s 1 ease-in;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animations with javascript and css */
.fadeLeftOnLoad {
    opacity: 0;
    transform: translateX(-20px);
    filter: blur(5px);
    transition: all calc(0.45s) ease-in-out;
}


.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/* People who prefer no animations */
@media(prefers-reduced-motion) {
    .fadeLeftOnLoad {
        transition: none;
    }
}

/* Navigation bar */
.navbarFull {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 2%;
    transition: all .5s ease;
    color: var(--primaryText);
    box-sizing: border-box;
    background-color: var(--backgroundSubColor);

}

.navbarLogo {
    display: flex;
}


.navbarLogo img {
    color: var(--primaryText);
    max-width: 64px;

}

.navbarItems {
    display: flex;
    list-style: none; /* Removes the dot from the list */
    text-decoration: none;
}

.navbarItems a {
    color: var(--primaryText);
    font-size: 1.1rem;
    padding: 5px 0;
    margin: 0 30px;
    transition: margin 0.5s ease;
    text-decoration: none; /* Removes underline for links */
    font-weight: 500;
    letter-spacing: 1px;
}

/* Change color when hovering over items */
.navbarItems a:hover {
    filter: brightness(80%);
}

.navbarItems a.active {
    color: var(--mainThemeColor);
}

.navbarMain {
    display: flex;
    align-items: center;
}

.navbarMain span {
    color: var(--primaryText);
    font-size: 28px;
    margin-right: 3px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

@media (max-width: 1100px) {
    .navbarFull {
        padding: 8px 2%;
        transition: all 0.2s ease;
    }
    .navbarItems a{
        padding: 5px 0;
        margin: 0 20px;
    }
    #navbarLogo {
        padding: 14px 0;
    }
}

@media (max-width: 700px) {
    #navbarIcon {
        display: block;
    }
    .navbarFull {
        padding: 14px 20px;
    }

    .navbarItems {
        position: absolute;
        top: 97%;
        right: -100%;
        width: 270px;
        height: 95vh;
        padding: 2%;
        background-color: var(--backgroundSubColor);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 20px;
        transition: all 0.2s ease;
    }

    .navbarItems a{
        display: block;
        margin: 1px 0;
        padding: 16px 25px;
        border-radius: 20px;
        width: 70%;
    }

    .navbarItems a:link {
        color: var(--primaryText);
        background-color: var(--backgroundSubColor);
    }

    .navbarItems a:hover  {
        background-color: var(--backgroundTertiaryColor);
        border-radius: 20px;
    }

    .navbarItems a.active {
        color: var(--primaryContainerText);
        background-color: var(--primaryContainer);
        border-radius: 20px;
    }

    .navbarItems a.active:hover {
        background-color: var(--primaryContainerHover);
    }



    .navbarItems.open {
        right: -5%;
    }
}




/* Background */
body {
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 100vw;
    color: var(--primaryText);
    margin: 0;
    user-select: none;
    -webkit-user-select: none;

}




/* Almost every tekstbox you see */
.primaryText {
    color: var(--primaryText);
}

/* Subtext, under dev name */
.darkerSubText {
    color: var(--secondaryText);
}

.darkestSubText {
    color: var(--tertiaryText);
}

/* Boxes with the apps in it */

.appBoxCoupon {
    background-color:  var(--appBoxColor);
}

/* Primary button rich colored */

.primaryButton {
    color: var(--primaryContainerText);
    background-color: var(--primaryContainer);
    transition: all 0.25s ease-in-out;
    padding: 22px 34px;
    border-radius: 30px;
    white-space: nowrap;
}

.primaryButton:hover {
    background-color: var(--primaryContainerHover);
}

.secondaryButton {
    color: var(--secondaryContainerText);
    background-color: var(--secondaryContainer);
    transition: all 0.25s ease-in-out;
    padding: 22px 34px;
    border-radius: 30px;
}

.secondaryButton:hover {
    background-color: var(--secondaryContainerHover);
}

.grayButton:hover {
    background-color: var(--secondaryContainerHover);
}


.grayButton {
    color: var(--secondaryContainerText);
    background-color: var(--secondaryContainer);
    transition: all 0.25s ease-in-out;
    border-radius: 15px;
    padding: 1.5rem;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



.noMargin {
    margin: 0;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%; /* stretch textbox to full available width */
    margin: 0 auto; /* center textbox */
}

/* Padding for sections */
.centerSocials {
    width: clamp(10rem, 80%, 25rem);
    padding: 0.5rem 2rem;
    margin: auto;
    
}

.centerSmall {
    width: clamp(10rem, 80%, 45rem);
    padding: 0.5rem 2rem;
    margin: auto;
}

.centerMedium {
    width: clamp(10rem, 90%, 65rem);
    padding: 0.5rem 1rem;
    
    margin: auto;
}

.centerBig {
    width: clamp(10rem, 90%, 95rem);
    padding: 0.5rem 1rem;
    margin: auto;
}

/* Full header with developer information */
.sectionHeader {
    font-size: 2.45rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.sectionHeader > h1 {
    font-size: 2.45rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

.sectionHeader > p {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;   
    max-width: clamp(200px, 90%, 400px);
    margin: 0 auto 1rem auto;
    padding: 10px 0;
    color: var(--secondaryText);
}


.sectionHeader > a {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

.sectionHeader > a img {
    max-width: 200px;
    display: flex;
    margin: 0 auto;
}

.sectionHeader > a img:not(last-child) {
    padding-bottom: 20px; /* give every item padding but the last */
}

@media screen and (min-width: 1201px) {
    .textCenterMobile {
        text-align: center;
        margin: 0;
    }
}


.headerTitle {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.headerTitle > h1 {
    flex: 1;
    font-size: 2.45rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.headerTitle > a {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--secondaryText);
    margin-top: 0;
    margin-bottom: 0;
}






/* Every normal tekst including headings and app info */


/* Header title, developer name */



/* Text under header, information about developer */
.darkerSubText {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.darkestSubText {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



/* Google Play badge under developer logo */
.headerGooglePlayBadge {
    max-width: 250px;
    margin-top: 0.5rem;
}

/* General spacer line between sections */
.spacer {
    font-size: 2rem;
    margin-top: 1.5rem;
    border-top: 3px solid #aeaeae;
    width: 35px;
    scroll-margin: 1.5em;

}

[featured] {
    scroll-margin-top: 2ex;
}



/* App box layout and spacing */






.portfolioAppTitlePaddingBottom {
    padding-bottom: 1rem;
}

.appTitleSize{
    padding-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 15px 0;
}



.downloadButtonBox {
    border-radius: 15px;
    padding: 1.0rem 0rem;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    font-size: 22px;
}

.downloadButton > span {
    color: var(--secondaryContainerText)
}


.downloadButton {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    width: clamp(50px, 90%, 150px);
    margin: 0 auto;
    
}

.primaryButton:hover {
    cursor: pointer;
}

.primaryButton:link {
    text-decoration: none;
}

.secondaryButton:hover {
    cursor: pointer;
}

.secondaryButton:link {
    text-decoration: none;
    
}




/* show header info and featured apps next to each other */
.headerColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

.headerColumns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionHeader, .sectionFeatured {
    flex: 1;
}


/* Things to remove on desktop view */
/*  */
.removeDesktop {
    display: none;
}

/* Featured app box layout and spacing */
/*  */
.featuredAppsColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}



/* Set header dev info and image to under each other on mobile */
@media (max-width: 1200px) {
    .headerColumns {
        display: inline;
        align-items: center;
    }
    .removeDesktop {
        display: block;
    }
    .centerBigDesktop {
        width: clamp(10rem, 90%, 95rem);
        padding: 0.5rem 1rem;
        margin: auto;
    }
    .sectionHeader {
        padding: 0 2%;
    }
}
@media (max-width: 600px) {
    .featuredAppsColumns { grid-template-columns: 1fr ; place-items: center }
}


/* Portfolio app box layout and spacing */
/*  */

.portfolioAppsColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}


/* The whole app box including bg */
.appsColumns > div {
    border-radius: 25px;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;

    /* background-color: red; */
    padding: 25px 20px;
    background-color: var(--appBoxColor);  
    transition: all 0.45s ease-in-out; 
}

/* App title */
.appsColumns > div h1 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--primaryText);
    margin: 0;
    text-align: center;
}

/* App logo img  */
.appsColumns > div img {
    max-width: 100%;
    border-radius: 25px;
}

.appsColumns .blur-load {
    max-width: 100%;
    border-radius: 25px;
    margin: 20px auto;
}




/* Download button */
.appsColumns > div a {
    max-width: 100%;
    border-radius: 25px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}


.featuredAppsColumns > div {
    display: flex; /* For portfolio this is done with js to unhide the first 8 */
}
/* Javascript loads more items when load more button is clicked */
.loadMoreItems {
    display: none;
}


.couponBox {
    border-radius: 25px;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    background-color: var(--appBoxColor);  
    transition: all 0.45s ease-in-out; 
}

@media (max-width: 600px) {
    .portfolioAppsColumns { grid-template-columns: 1fr ; place-items: center }
  }


@media (min-width: 601px) and (max-width: 950px) {
    .portfolioAppsColumns { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 951px) and (max-width: 1400px) {
    .portfolioAppsColumns { grid-template-columns: 1fr 1fr 1fr; }
}

/* Logo sizes for images in app boxes */
/*  */
.portfolioAppLogo {
    width: clamp(50px, 90%, 400px);
    margin: auto;
}

.featuredAppLogo {
    width: clamp(50px, 90%, 400px);
    margin: 0 auto;
}


.footer {
    margin-bottom: 5%;
}

/* Button on bottom of mobile screens */
/*  */
.materialYouButton {
    display: none;
}

@media (max-width: 950px) {
    .materialYouButton {
        display: inline;
        background-color: var(--lightWhite);
        color: var(--lightWhite);
        border: none;
        border-radius: 35%;
        border-color: var(--lightWhite);
        width: 75px;
        height: 75px;
        position: fixed;
        bottom: 20px; 
        right: 20px; 
        transition: all 0.45s ease-in-out;
    }
    .materialYouButton:hover {
        transform: scale(1.03);
    }
    .footer {
        margin-bottom: 20%;
    }
}


.materialYouButton img {
    position: relative;
    width: 60%;
    top: 2px;
}



.appIconBorderRadius {
    border-radius: 25px;
}


.socialMediaColumns {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 10px;
}

/* Social media box */
/*  */
.socialMediaColumns > a {
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 5%;
    background-color: var(--appBoxColor);
    text-decoration: none;
}

.socialMediaColumns > a:hover {
    background-color: var(--primaryContainer);
}
/*  */
/* Social media box */


/* Social media icons */
/*  */
.socialMediaColumns > a i {
    font-size: 52px;
    color: var(--primaryText);
    padding-right: 1rem;
}
/*  */
/* Social media icons */


/* Social media text */
/*  */
.socialMediaText > a1, 
.socialMediaText > h1 {
    color: var(--primaryText);
    margin: 0;
    text-align: left;
    font-family: Product Sans;
}

.socialMediaText > h1 {
    font-family: Product Sans Bold;
}
/*  */
/* Social media text */


.newLine {
    clear: both;
    display: block;
}





.footer i {
    font-size: 44px;
    margin: 10px;
    margin-bottom: 30px;
}

.footer a {
    color: var(--primaryText);
    text-decoration: none;
}

.socialMediaIcon {
    color: var(--primaryText);
    transition: all 0.25s ease-in-out;
}

.socialMediaIcon:hover {
    color: var(--mainThemeColor);
}





/* Google font layout */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24;
  color: var(--primaryText);
}


/* Load more button at bottom of applist */
.loadmoreButton {
    background-color: var(--primaryContainer);
    color: var(--primaryContainerText);
    transition: all 0.25s ease-in-out;
    padding: 20px 34px;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    margin: 1%;
}

.loadmoreButton:hover {
    background-color: var(--primaryContainerHover);
    cursor: pointer;
}


.privacyColumns {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 10px;
}

.privacyColumns > div {
    margin-bottom: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 5%;
    background-color: var(--appBoxColor);
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column; 
    transition: all 0.45s ease-in-out; 
}

.privacyColumns > div a {
    white-space: pre-line;
    margin: 0 auto;
    font-size: 24px;
    color: var(--primaryTextThemed);
    text-align: center; /* only when there are not many lines */
}



.mainContent {
    background-image: radial-gradient(
        circle-farthest-side at 100px 100px,
        #eaeaea 0%,
        transparent 100%
    );
}