/* General options */

@font-face {
    font-family: Product Sans;
    src: url(/fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Product Sans Bold;
    src: url(/fonts/Product\ Sans\ Bold.ttf);
}

:root {
    --mainThemeColor: #1d94e2;
    --mainThemeColorSecond: #41b8db;
    --mainThemeColorText: #136195;
    --mainThemeColorHover: #b5b5b5;

    --lightWhite: #f4f4f4;
    
    --order: 1;
}

html { scroll-behavior: smooth;}

.fadeIn { opacity: 1;}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColorMainTheme: #07283e;
        --backgroundColor: #161618;
        --backgroundSubColor: #1e1e21;
        --backgroundTertiaryColor: #232626;
        --appBoxColor: #212529;
        --appBoxBorderColor: #42474e;
        --appBoxColorHover: #172230;

        --primaryText: #cde2f6;
        --primaryTextThemed: #81b0f6;
        --secondaryText: #b5c7d6;
        --secondaryTextThemed: #cee5ff;
        --tertiaryText: #515151;

        --primaryContainer: #004a76;
        --primaryContainerDarker: #003353;
        --primaryContainerText: #cee5ff;
        --primaryContainerHover: #003353;

        --secondaryContainer: #3a4857;
        --secondaryContainerText: #d5e4f7;
        --secondaryContainerHover: #233240;
        
        --secondaryContainerActive: #354f7d;

        --primaryTextWhite: #f6f6f6;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: #e4ecff;
        --backgroundSubColor: #e4ecff;
        --backgroundTertiaryColor: #dbdbdb;
        --appBoxColor: #d5e3ff;
        --appBoxBorderColor: #b6c9f3;
        --appBoxColorHover: #a0c1eb;

        --primaryText: #1d2a2a;
        --primaryTextThemed: #1e406b;
        --secondaryText: #5c5e5e;
        --tertiaryText: #515151;

        --primaryContainer: #296bb6;
        --primaryContainerDarker: #255e9f;
        --primaryContainerText: #ffffff;
        --primaryContainerHover: #1f4c7f;

        --secondaryContainer: #b9c4d9;
        --secondaryContainerText: #1f1f1f;
        --secondaryContainerHover: #b0c6f4;
                
        --secondaryContainerActive: #536b9e;
        
        --primaryTextWhite: #080808;
    }
}

.mainContent {
    animation: fadeIn 0.35s 1 ease-in;
    margin-top: clamp(4vh, 14vh/2, 9vh); /* margin for navbar */
}

.footer {
    animation: fadeIn 0.35s 1 ease-in;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animations with javascript and css */
.fadeUpOnLoad {
    transform: translateY(+25px);
    filter: blur(3px);
    transition: all calc(0.25s) ease-out;
}


.show {
    filter: blur(0px);
    transform: translateY(0);
}

/* People who prefer no animations */
@media(prefers-reduced-motion) {
    .fadeLeftOnLoad {
        transition: none;
    }
}

/* Navigation bar */
.navbarFull {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 2%;
    transition: all .5s ease;
    color: var(--primaryText);
    box-sizing: border-box;
    background-color: var(--backgroundSubColor);

}

.navbarLogo {
    display: flex;
}


.navbarLogo img {
    color: var(--primaryText);
    max-width: 64px;

}

.navbarItems {
    display: flex;
    list-style: none; /* Removes the dot from the list */
    text-decoration: none;
}

/* Default navbar, to set color on active later */
.navbarItems li  a {
    padding: 15px 30px;
    border-radius: 150px;
}

.navbarItems li > a.active {
    background-color: var(--primaryContainerDarker);
    color: var(--primaryContainerText);
   
}


.navbarItems a {
    color: var(--secondaryContainerText);
    font-size: 1.1rem;
    padding: 2px 0;
    margin: 0 10px;
    transition: all 0.25s ease;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0px;
}

/* Change color when hovering over items */
.navbarItems a:hover {
    filter: brightness(80%);
    background-color: var(--secondaryContainerHover);
}

.navbarMain {
    display: none;
    align-items: center;
}

.navbarMain span {
    color: var(--primaryTextWhite);
    font-size: 28px;
    margin-right: 3px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

@media (max-width: 1100px) {
    .navbarFull {
        padding: 8px 2%;
        transition: all 0.2s ease;
    }
    .navbarItems a{
        padding: 5px 0;
        margin: 0 20px;
    }
    #navbarLogo {
        padding: 14px 0;
    }
}

@media (max-width: 950px) {
    #navbarIcon {
        display: block;
    }
    .navbarFull {
        padding: 14px 20px;
    }

    .navbarItems {
        position: absolute;
        top: 97%;
        right: -100%;
        width: 270px;
        height: 95vh;
        padding: 2%;
        background-color: var(--backgroundSubColor);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 20px;
        transition: all 0.2s ease;
    }

    .navbarItems li > a {
        display: block;
        margin: 1px 0;
        padding: 18px 25px;
        border-radius: 20px;
        width: 70%;
    }

    .navbarItems li > a.active {
        background-color: var(--primaryContainerDarker);
        color: var(--primaryContainerText);
       
    }

    .navbarMain {
        display: block;
    }

    .navbarItems.open {
        right: -5%;
    }
}


/* Background */
body {
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 100vw;
    color: var(--primaryText);
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Almost every tekstbox you see */
.primaryText {
    color: var(--primaryText);
}

/* Subtext, under dev name */
.darkerSubText {
    color: var(--secondaryText);
}

.darkestSubText {
    color: var(--tertiaryText);
}

/* Boxes with the apps in it */
.appBoxCoupon {
    background-color:  var(--appBoxColor);
}

/* Primary button rich colored */
.primaryButton {
    color: var(--primaryContainerText);
    background-color: var(--primaryContainer);
    transition: all 0.25s ease-in-out;
    padding: 22px 34px;
    border-radius: 30px;
    white-space: nowrap;
}

.primaryButton:hover {
    background-color: var(--primaryContainerHover);
}

.secondaryButton {
    color: var(--secondaryContainerText);
    background-color: var(--secondaryContainer);
    transition: all 0.25s ease-in-out;
    padding: 22px 34px;
    border-radius: 30px;
}

.secondaryButton:hover {
    background-color: var(--secondaryContainerHover);
}

.grayButton:hover {
    background-color: var(--secondaryContainerHover);
}

.grayButton {
    color: var(--secondaryContainerText);
    background-color: var(--secondaryContainer);
    transition: all 0.25s ease-in-out;
    border-radius: 15px;
    padding: 1.5rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.noMargin {
    margin: 0;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%; /* stretch textbox to full available width */
    margin: 0 auto; /* center textbox */
}

/* Padding for sections */
.centerSocials {
    width: clamp(10rem, 80%, 25rem);
    padding: 0.5rem 2rem;
    margin: auto;
    
}

.centerSmall {
    width: clamp(10rem, 80%, 45rem);
    padding: 0.5rem 2rem;
    margin: auto;
}

.centerMedium {
    width: clamp(10rem, 90%, 65rem);
    padding: 0.5rem 1rem;
    
    margin: auto;
}

.centerBig {
    width: clamp(10rem, 90%, 90rem);
    padding: 0.5rem 1rem;
    margin: auto;
}

/* Full header with developer information */
.sectionHeader {
    font-size: 2.45rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.sectionHeader > h1 {
    font-size: 3.45rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    width: 100%;
    color: var(--primaryTextThemed);
}

.sectionHeader > p {
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;  
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    color: var(--secondaryText);
}

.sectionHeader > a {
    display: block;
    max-width: 200px;
    margin: auto 0 auto auto;
}

.sectionHeader > a img {
    max-width: 200px;
    display: flex;
    margin: 30px auto;
}

@media screen and (min-width: 1201px) {
    .textCenterMobile {
        text-align: center;
        margin: 0;
    }
}

.headerTitle {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.headerTitle > h1 {
    flex: 1;
    font-size: 2.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--primaryText);
}

.headerTitle > h2 {
    flex: 1;
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--secondaryTextThemed);
    margin: 0 0 10px 0;
}

.headerTitle > a {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--secondaryText);
    margin-top: 0;
    margin-bottom: 0;
}

/* Text under header, information about developer */
.darkerSubText {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.darkestSubText {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Google Play badge under developer logo */
.headerGooglePlayBadge {
    max-width: 250px;
    margin-top: 0.5rem;
}

/* General spacer line between sections */
.spacer {
    font-size: 2rem;
    margin-top: 1.5rem;
    border-top: 3px solid #aeaeae;
    width: 35px;
    scroll-margin: 1.5em;
}

.portfolioAppTitlePaddingBottom {
    padding-bottom: 1rem;
}

.appTitleSize{
    padding-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 15px 0;
}

.downloadButton > span {
    color: var(--secondaryContainerText)
}

.downloadButton {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    width: clamp(50px, 90%, 150px);
    margin: 0 auto;    
}

.primaryButton:hover {
    cursor: pointer;
}

.primaryButton:link {
    text-decoration: none;
}

.secondaryButton:hover {
    cursor: pointer;
}

.secondaryButton:link {
    text-decoration: none;
    
}

/* show header info and featured apps next to each other */
.headerColumns {
    margin: 15vh auto 5vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;    
}

.headerColumns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionHeader, .sectionFeatured {
    flex: 1;
}


/* Things to remove on desktop view */
/*  */
.removeDesktop {
    display: none;
}

/* Featured app box layout and spacing */
/*  */
.featuredAppsColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* Set header dev info and image to under each other on mobile */
@media (max-width: 1250px) {
    .headerColumns {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        margin-top: 5pc;
        margin-bottom: 0;
        align-items: center;
    }
    .headerColumns > div {
        margin: 0 auto;
    }
    .removeDesktop {
        display: block;
    }
    .sectionHeader {
        padding: 0 2%;
    }
    .sectionHeader > a {
        margin: 0 auto;
    }
    .headerColumns > div {
        text-align: center;
    }
}
@media (max-width: 600px) {
    .featuredAppsColumns { grid-template-columns: 1fr ; place-items: center }
}


/* Portfolio app box layout and spacing */
/*  */

.portfolioAppsColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

/* The whole app box including bg */
.appsColumns > a > div {
    flex-direction: column;
    height: 100%;

    /* background-color: red; */
    padding: 0;
    transition: all 0.25s ease-in-out;
}

.appsColumns > a {
    overflow: hidden; /* removes overflow from img zoom */
    background-color: var(--appBoxColor);  
    border-color: var(--appBoxBorderColor);
    border-style: solid;
    border-radius: 25px;
    border-width: 4px;
}

.appsColumns > a > div:hover {
    background-color: var(--appBoxColorHover);
    cursor: pointer;
}

.appsColumns > a:hover > div {
    background-color: var(--appBoxColorHover);
}

.appsColumns .text {
    padding: 1rem 1.4rem;
}

/* App title */
.appsColumns h1 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--primaryText);
    margin: 10px 0 10px 0;
    text-align: left;
}

/* App small text */
.appsColumns h2 {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--secondaryText);
    margin: 10px 0 10px 0;
    text-align: left;
}

/* App logo img  */
.appsColumns img {
    max-width: 100%;
    transition: all 0.25s ease;
}

.appsColumns a:hover img {
    transform: scale(1.03);
}

.appsColumns .blur-load {
    max-width: 100%;
    border-radius: 21px;
    overflow: hidden;
    transition: all 0.25s ease;
}

/* Removes those ugly lines around the app title, href is set above div not on title itself */
.appsColumns a {
    text-decoration: none;
}

/* Download button */
.appsColumns > div a {
    max-width: 100%;
    border-radius: 25px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
}

.featuredAppsColumns > div {
    display: flex; /* For portfolio this is done with js to unhide the first 12 */
}

/* Javascript loads more items when load more button is clicked */
.loadMoreItems {
    display: none;
}


.couponBox {
    border-radius: 25px;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    background-color: var(--appBoxColor);  
    transition: all 0.25s ease-in-out; 
}

@media (max-width: 600px) {
    .portfolioAppsColumns { grid-template-columns: 1fr ; place-items: center }
  }


@media (min-width: 601px) and (max-width: 950px) {
    .portfolioAppsColumns { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 951px) and (max-width: 1400px) {
    .portfolioAppsColumns { grid-template-columns: 1fr 1fr 1fr; }
}

/* Logo sizes for images in app boxes */
/*  */
.portfolioAppLogo {
    width: clamp(50px, 90%, 400px);
    margin: auto;
}

.featuredAppLogo {
    width: clamp(50px, 90%, 400px);
    margin: 0 auto;
}

.footer {
    margin: 2% auto;
}

/* Button on bottom of mobile screens */
/*  */
.materialYouButton {
    display: none;
}

@media (max-width: 950px) {
    .materialYouButton {
        display: inline;
        background-color: var(--lightWhite);
        color: var(--lightWhite);
        border: none;
        border-radius: 35%;
        border-color: var(--lightWhite);
        width: 75px;
        height: 75px;
        position: fixed;
        bottom: 20px; 
        right: 20px; 
        transition: all 0.25s ease-in-out;
    }
    .materialYouButton:hover {
        transform: scale(1.03);
    }
    .footer {
        margin-bottom: 20%;
    }
}

.materialYouButton img {
    position: relative;
    width: 60%;
    top: 2px;
}

.appIconBorderRadius {
    border-radius: 25px;
}

/* Social media box */
/*  */
.socialMediaColumns {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 10px;
}

.socialMediaColumns > a {
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 5%;
    background-color: var(--appBoxColor);
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    border-color: var(--appBoxBorderColor);
    border-style: solid;
    border-width: 4px;
}

.socialMediaColumns > a:hover {
    background-color: var(--appBoxColorHover);
}
/*  */
/* Social media box */


/* Social media icons */
/*  */
.socialMediaColumns > a i {
    font-size: 52px;
    color: var(--primaryText);
    padding-right: 1rem;
}
/*  */
/* Social media icons */


/* Social media text */
/*  */
.socialMediaText > a1, 
.socialMediaText > h1 {
    color: var(--primaryText);
    margin: 0;
    text-align: left;
    font-family: Product Sans;
}

.socialMediaText > h1 {
    font-family: Product Sans Bold;
}
/*  */
/* Social media text */


.newLine {
    clear: both;
    display: block;
}

.footer {
    display: grid;
    gap: 5px;
    grid-template-columns: 30% auto 30%;
    margin-bottom: 50px;
}

@media (max-width: 1350px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

.footer .footer-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .footer-center a {
    display: block;
    padding: 0 20px 0 20px;
}

.footer .footer-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}

.footer .footer-left > h1 {
    color: var(--primaryTextThemed);
}

.footer .footer-left > p {
    font-size: 1.2rem;
    font-family: Roboto;
    font-weight: 500;
    color: var(--secondaryText);
}

.footer .footer-center a {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 500;
}

.footer .footer-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .footer-copyright {
    color: var(--secondaryText);
}

.footer .footer-about a {
    display: block;
}

.footer i {
    font-size: 44px;
}

.footer a {
    color: var(--primaryText);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.footer .footer-center a:hover {
    color: var(--primaryTextThemed);
}

.footerSocialmedia {
    margin-bottom: 10px;
}

/* Google font layout */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24;
  color: var(--primaryText);
}

/* Load more button at bottom of applist */
.loadmoreButton {
    background-color: var(--primaryContainer);
    color: var(--primaryContainerText);
    transition: all 0.25s ease-in-out;
    padding: 20px 34px;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 3rem 0 1% 0;
}

.loadmoreButton:hover {
    background-color: var(--primaryContainerHover);
    cursor: pointer;
}

.privacyColumns {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 10px;
}

.privacyColumns > div {
    margin-bottom: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5%;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column; 
    transition: all 0.25s ease-in-out; 
    border-color: var(--appBoxBorderColor);
    border-style: solid;
    border-width: 2px;
}

.privacyColumns > div a {
    white-space: pre-line;
    margin: 0 auto;
    font-size: 24px;
    color: var(--primaryText);
    text-align: center; /* only when there are not many lines */
}